# ============================================
# Variables para Docker Compose (base de datos)
# ============================================
# Copia este archivo como ".env" y ajusta los valores
# El archivo ".env" NO debe subirse a git (ya está en .gitignore)

POSTGRES_DB=hackaton_db
POSTGRES_USER=***********
POSTGRES_PASSWORD=*************
POSTGRES_PORT=5432